
header{
    border-bottom: 2px solid rgb(223, 218, 218);
}
#logo{
    width:200px;
    height: 70px;
 }
 .navbar-nav{
    color: black;
    font-weight: 500;
 }
 #search {
    height: 30px;
    width: 30px;
  }
 .left_img .i1{
    height: 350px;
    width: 450px;
    padding: 30px;
 }
 .right_content{
    padding: 10px;
    margin-top: 50px;
 }
 .main{
   margin: 20px;
   border-bottom: 2px solid rgb(223, 218, 218);
}
.details{
   margin: 20px;
   padding: 20px;
   border-bottom: 2px solid rgb(223, 218, 218);
}
.para a{
   text-align: center;
}
  .blogs img{
    width: 300px;
    height: 200px;
    padding: 10px;
 }
 .blogs h2{
   text-align: center;
 }


